node_modules/
dist/
scripts/templates-output/
node_modules
.DS_Store
.tmp
tmp
dist
npm-debug.log*
lerna-debug.log
yarn.lock
google-generated-credentials.json
_START_PACKAGE
.vscode/
.idea
nodelinter.config.json
packages/*/package-lock.json
.github
# files containing secrets
secrets.env
secret.env
*/ansible/local/.env
.env
.env.*
*.env
!.env.example
!*.env.example
.env2
.migration-checkpoint.json
